h1 {
    color: red;
    font-size: 80px;
    text-align: center;
}

p {
    color: blueviolet;
    text-align: justify;
}

#Bye
{
    color: rgb(214, 226, 45);
    font-size: 80px;
    text-align: center;
}