div{
    background-image: url(a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
}

/*
background-image: url(a.jpg);
background-repeat: no-repeat;
background-repeat: repeat-x;
background-repeat: repeat-y;
background-position:top right;
background-position:right;
background-position:center;
background-size: cover;
background-attachment: fixed;
background-attachment:scroll;





*?