#abc{
    width: 100vw;
    height: 100vh;
    background-image: url("nature.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
     /* opacity: 0.6;*/
 
      filter: blur(3px); 
 
 
 
     /* filter: brightness(80%); */
 
     /* filter: contrast(80%); */
 
     /* filter: sepia(70%) */
 
     /* filter: drop-shadow(8px 8px 20px red); */
 
     /* filter:invert(0.7); */
 
 }
 
  