caption{
    border: 2px solid black;
    padding: 5px;
    font-size: 40px;
    background-color:aqua ;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 500px;
    text-align: center;
    background-color: rgb(8, 123, 63);
}

td{
    border: 2px solid black;
    width: 30px;
    
}

th{
    border: 2px solid black;
    height: 40px;
    background-color: aliceblue;
}

tr:hover{
    background-color:rgb(107, 223, 33);
}